body{
    background-color: darkseagreen;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

#content{
    margin-top: 110px;
    margin-left: 290px;
}

div[class*='square']{
    border: solid;
    border-width: 1px;
}